<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".CTApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CleverTapCustomTemplates"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.NativeDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PushTemplatesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RestaurantActivity"
            android:exported="false" />
        <activity
            android:name=".ui.InAppActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter android:label="XYZ">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="Dismiss" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cltanalytics"
                    android:pathPrefix="/deeplinktest"
                    android:scheme="android" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="449-R88-8R7Z" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="bb2-c44" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFCMService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name="com.clevertap.ct_templates.common.NotificationDismissReceiver" />
    </application>

</manifest>